In [5]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv('spam.csv', encoding='latin-1')

In [10]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
80,ham,"Sorry, I'll call later",NaN,NaN,NaN
5202,ham,WOT STUDENT DISCOUNT CAN U GET ON BOOKS?,NaN,NaN,NaN
3842,ham,Yes ammae....life takes lot of turns you can o...,NaN,NaN,NaN
4592,ham,It's ok i wun b angry. Msg u aft i come home t...,NaN,NaN,NaN
3757,ham,Lol no ouch but wish i'd stayed out a bit longer,NaN,NaN,NaN

In [11]:
df.shape

(5572, 5)

In [15]:
# 1. Data cleaning
# 2. EDA
# 3. Text Preprocessing
# 4. Model building
# 5. Evaluation
# 6. Improvement
# 7. Website
# 8. Deploy

## 1. Data Cleaning

In [ ]:
df.in